.container-cert {
  width: 100%;
}

.cert-text {
  width: 100%;
  margin-bottom: 1rem;
}

.quali-text {
  font-size: 20px;
  top: 10px;
}

.slider {
  overflow: scroll;
  height: 20%;
  position: relative;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slides {
  position: relative;
  width: 100%;
  height: 35vh;
  align-items: center;
}

.slide1 {
  background: rgba(255, 255, 255, 0.103) url(../props/htmlcss1.png);
  height: 100%;
  margin-top: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.slide2 {
  background: rgba(255, 255, 255, 0.103) url(../props/htmlcss2.png);
  height: 100%;
  margin-top: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.slide3 {
  background: rgba(255, 255, 255, 0.103) url(../props/htmlcss3.png);
  height: 100%;
  margin-top: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.slide4 {
  background: rgba(255, 255, 255, 0.103) url(../props/javascript1.png);
  height: 100%;
  margin-top: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.slide5 {
  background: rgba(255, 255, 255, 0.103) url(../props/javascript2.png);
  height: 100%;
  margin-top: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.slide6 {
  background: rgba(255, 255, 255, 0.103) url(../props/javascript3.png);
  height: 100%;
  margin-top: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.slide7 {
  background: rgba(255, 255, 255, 0.103) url(../props/javascript4.png);
  height: 100%;
  margin-top: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.slide8 {
  background: rgba(255, 255, 255, 0.103) url(../props/javascript5.png);
  height: 100%;
  margin-top: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.slide9 {
  background: rgba(255, 255, 255, 0.103) url(../props/react1.png);
  height: 100%;
  margin-top: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.slide10 {
  background: rgba(255, 255, 255, 0.103) url(../props/react2.png);
  height: 100%;
  margin-top: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.qualifications-container {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80%;
  width: 90%;
  overflow-x: scroll;
  margin-top: 15px;
  user-select: none;
  flex-direction: row;
}

.qualifications-container .qualification {
  position: relative;
  height: 285px;
  min-width: 330px;
  background-color: rgb(9, 6, 31);
  border-radius: 20px;
  margin: 0 20px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.qualifications-container .qualification .content {
  height: 85%;
  width: 90%;
  border-radius: 15px;
  margin-top: 20px;
  background-size: contain;
  background-position: center;
}

.qualifications-container .qualification .content.html1 {
  background: rgba(255, 255, 255, 0.103) url(../props/htmlcss1.png);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.qualifications-container .qualification .content.html2 {
  background: rgba(255, 255, 255, 0.103) url(../props/htmlcss2.png);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.qualifications-container .qualification .content.html3 {
  background: rgba(255, 255, 255, 0.103) url(../props/htmlcss3.png);
  background-position: center;
  background-size: 330px;
  background-repeat: no-repeat;
}

.qualifications-container .qualification .content.javascript1 {
  background: rgba(255, 255, 255, 0.103) url(../props/javascript1.png);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}
.qualifications-container .qualification .content.javascript {
  background: rgba(255, 255, 255, 0.103) url(../props/js.jpg);
  background-position: center;
  background-size: cover;
  background-size: 90px;
  background-repeat: no-repeat;
}
.qualifications-container .qualification .content.bootstrap {
  background: rgba(255, 255, 255, 0.103) url(../props/bootstrap.png);
  background-position: center;
  background-size: cover;
  background-size: 66px;
  background-repeat: no-repeat;
}
.qualifications-container .qualification .content.react {
  background: rgba(255, 255, 255, 0.103) url(../props/react.png);
  background-position: center;
  background-size: cover;
  background-size: 66px;
  background-repeat: no-repeat;
}
.qualifications-container .qualification .content.c-plus-plus {
  background: rgba(255, 255, 255, 0.103) url(../props/c-plus-plus.png);
  background-position: center;
  background-size: cover;
  background-size: 66px;
  background-repeat: no-repeat;
}
.qualifications-container .qualification .content.c-sharp {
  background: rgba(255, 255, 255, 0.103) url(../props/c-sharp.png);
  background-position: center;
  background-size: cover;
  background-size: 66px;
  background-repeat: no-repeat;
}
.qualifications-container .qualification .content.kotlin {
  background: rgba(255, 255, 255, 0.103) url(../props/kotlin.png);
  background-position: center;
  background-size: cover;
  background-size: 66px;
  background-repeat: no-repeat;
}

@media (max-width: 820px) {
  .quali-text {
    font-size: 20px;
    top: 10px;
    text-align: center;
  }

  .qualifications-container {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 15px;
  }

  .qualifications-container .qualification {
    position: relative;
    height: 78%;
    background-color: rgb(9, 6, 31);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .qualifications-container .qualification .content {
    height: 85%;
    width: 90%;
    border-radius: 15px;
    margin-top: 20px;
    background-size: contain;
    background-position: center;
  }

  .slider {
    overflow: scroll;
    height: 20%;
    position: relative;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slides {
    position: relative;
    width: 100%;
    height: 40vh;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .quali-text {
    font-size: 20px;
    top: 10px;
    text-align: center;
  }

  .qualifications-container {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80%;
    width: 85%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .qualifications-container .qualification {
    position: relative;
    height: 80%;
    min-width: 95%;
    background-color: rgb(9, 6, 31);
    border-radius: 20px;
    margin: 0 40px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .qualifications-container .qualification .content {
    height: 85%;
    width: 90%;
    border-radius: 15px;
    margin-top: 20px;
    background-size: contain;
    background-position: center;
  }

  .slider {
    overflow: scroll;
    height: 80vh;
    position: relative;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slides {
    position: relative;
    width: 100%;
    height: 20vh;
    align-items: center;
  }
}

@media (max-width: 420px) {
  .quali-text {
    font-size: 20px;
    top: 10px;
    text-align: center;
  }

  .qualifications-container {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 80%;
    width: 88%;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 40px;
  }

  .qualifications-container .qualification {
    position: relative;
    height: 80%;
    min-width: 98%;
    background-color: rgb(9, 6, 31);
    border-radius: 20px;
    margin: 0 40px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .qualifications-container .qualification .content {
    height: 85%;
    width: 90%;
    border-radius: 15px;
    margin-top: 20px;
    background-size: contain;
    background-position: center;
  }

  .slider {
    overflow: scroll;
    height: 1000px;
    position: relative;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slides {
    position: relative;
    height: 1000px;
    height: 40vh;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .quali-text {
    font-size: 20px;
    top: 10px;
    position: absolute;
    left: 10px;
  }

  .qualifications-container {
    position: absolute;
    left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 80%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .qualifications-container .qualification {
    position: relative;
    height: 80%;
    min-width: 90%;
    background-color: rgb(9, 6, 31);
    border-radius: 20px;
    margin: 0 20px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .qualifications-container .qualification .content {
    height: 85%;
    width: 90%;
    border-radius: 15px;
    margin-top: 20px;
    background-size: contain;
    background-position: center;
  }

  .slider {
    overflow: scroll;
    height: 20%;
    position: relative;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slides {
    position: relative;
    width: 100%;
    height: 20vh;
    align-items: center;
  }
}

@media (max-width: 375px) {
  .quali-text {
    font-size: 20px;
    top: 10px;
    position: absolute;
    left: 1.5rem;
  }

  .qualifications-container {
    position: absolute;
    left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 80%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .qualifications-container .qualification {
    position: relative;
    height: 95%;
    min-width: 90%;
    background-color: rgb(9, 6, 31);
    border-radius: 20px;
    margin: 0 20px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .qualifications-container .qualification .content {
    height: 85%;
    width: 90%;
    border-radius: 15px;
    margin-top: 20px;
    background-size: contain;
    background-position: center;
  }

  .slider {
    overflow: scroll;
    height: 20%;
    position: relative;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slides {
    position: relative;
    width: 100%;
    height: 35vh;
    align-items: center;
  }
}
